/*+++++++++ TAG SELECTORS +++++++++++*/
a {
  color: #decdc3;
}

body {
  background-color: #1d2323;
}

h1 {
  color: #5c848e;
}

h3 {
  color: #5c848e;
}

h6 {
  color: grey;
}

hr {
  border-style: solid none none none;
  border-color: #decdc3;
}

input {
  background-color: #c7cfb7;
}

label {
  color: #decdc3;
}

p {
  color: grey;
  text-align: justify;
}

textarea {
  background-color: #c7cfb7;
}

ul {
  color: #decdc3;
}

/*+++++++++ CLASS SELECTORS +++++++++++*/
.donations{
  background-color: #1d2323;
}

.indexpics{
  width: 150px;
  height: 100px;
}

.linktohomepage{
  color:#5c848e;
  text-decoration: none;
}
.linktohomepage:hover{
    color: grey;
}

/*+++++++++ ID SELECTORS +++++++++++*/
